{{>partials/header}}

<fieldset>
    <legend>Novo Usuário</legend>
    <form method="POST" action="/novo-usuario">
        <input type="text" name="firstName" placeholder="Digite seu Nome" /><br/>
        <input type="text" name="lastName" placeholder="Digite seu Sobrenome" /><br/>
        <input type="email" name="email" placeholder="Digite seu e-mail" /><br/>
        <input type="number" name="age" placeholder="Digite sua Idade" /><br/>
        <input type="text" name="interests" placeholder="Digite seus interesses (separado por vírgula)" /><br/>
        <input type="submit" value="Inserir" />
    </form>
</fieldset>

<div>
    <h1>Lista de Usuários</h1>
    <ul>
        {{#users}}
            <li>{{name.firstName}} - {{age}} anos</li>
        {{/users}}
    </ul>

    {{#emptyFields}}
        <h3>Preencha todos os campos!</h3>
    {{/emptyFields}}
</div>

{{>partials/footer}}